<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>
  <section name="Length" type="System.Configuration.NameValueSectionHandler" />
  <section name="Data" type="System.Configuration.NameValueSectionHandler" />
  <section name="Tempreture" type="System.Configuration.NameValueSectionHandler" />
</configSections>
<Length>
  <add key="terameter" value="1000000000000"/>
  <add key="gigameter" value="1000000000"/>
  <add key="megameter" value="1000000"/>
  <add key="kilometer" value="1000"/>
  <add key="meter" value="1"/>
  <add key="decimeter" value="0.1"/>
  <add key="centimeter" value="0.01"/>
  <add key="millimeter" value="0.001"/>
  <add key="micrometer" value="0.000001"/>
  <add key="nanometer" value="0.000000001"/>
  <add key="picometer" value="0.00000000001"/>

  <add key="yottainche" value="25400000000"/>
  <add key="zettainches" value="25400000"/>
  <add key="megameter" value="25400"/>
  <add key="kiloinch" value="25.4"/>
  <add key="inch" value="0.0254"/>
  <add key="deciinch" value="0.00254"/>
  <add key="centiinch" value="0.000254"/>
  <add key="milliinch" value="0.0000254"/>
  <add key="mircoinch" value="0.000000000254"/>
  <add key="nanoinch" value="0.0254/1000000000000"/>
  <add key="picoinch" value="0.0254/1000000000000000"/>

  <add key="yottafeet" value="304800000000"/>
  <add key="zettafeet" value="304800000"/>
  <add key="megafeet" value="304800"/>
  <add key="kilofeet" value="304.8"/>
  <add key="foot" value="0.3048"/>
  <add key="decifeet" value="0.03048"/>
  <add key="centifeet" value="0.003048"/>
  <add key="millifeet" value="0.0003048"/>
  <add key="mircofeet" value="0.0000003048"/>
  <add key="nanofeet" value="0.000000000003048"/>
  <add key="picofeet" value="0.000000000000003048"/>
</Length>

<Data>
  <add key="bit" value="0.125"/>
  <add key="byte" value="1"/>
  <add key="kilobyte" value="1024"/>
  <add key="megabyte" value="1048576 "/>
  <add key="gigabite" value="1073741824"/>
  <add key="terabyte" value="1099511627776"/>
  <add key="petabyte" value="1125899906842624"/>
  <add key="exabyte" value="1152921504606846976"/>
  <add key="zetabyte" value="1180591620717411303424"/>
</Data>

<Tempreture>
  <add key="celsiu" value=""/>
  <add key="fahrenheit" value=""/>
</Tempreture>
</configuration>