<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>
  <section name="Length" type="System.Configuration.NameValueSectionHandler" />
  <section name="Data" type="System.Configuration.NameValueSectionHandler" />
</configSections>
<Length>
  <add key="terameter" value="1000000000000"/>
  <add key="gigameter" value="1000000000"/>
  <add key="megameter" value="1000000"/>
  <add key="kilometer" value="1000"/>
  <add key="meter" value="1"/>
  <add key="decimeter" value="0,1"/>
  <add key="centimeter" value="0,01"/>
  <add key="millimeter" value="0,001"/>
  <add key="micrometer" value="0,000001"/>
  <add key="nanometer" value="0,000000001"/>
  <add key="picometer" value="0,00000000001"/>

   <add key="yottainche" value="1000000000000"/>
  <add key="zettainches" value="1000000000"/>
  <add key="megameter" value="1000000"/>
  <add key="kiloinch" value="1000"/>
  <add key="inch" value="0,0254"/>


</Length>
<Data>
  <add key="bit" value="1"/>
  <add key="byte" value="8"/>
  <add key="kilobyte" value="1024"/>
</Data>
</configuration>